[Unit]
Description=Backend Service
After=network.target

[Service]
Description=Sausage Store Backend Service
User=backend
Group=backend
ExecStart=/usr/bin/java -jar /opt/sausage-store/bin/sausage-store.jar
Environment=REPORT_PATH=/var/sausage-store/reports
Environment=LOG_PATH=/var/sausage-store/logs
Restart=always

[Install]
WantedBy=multi-user.target
