[Unit]
Description=Sausage Store Backend Service
After=network.target

[Service]
User=backend
Group=backend

EnvironmentFile=/var/sausage-store/backend.env
Environment=REPORT_PATH=/var/sausage-store/reports
Environment=LOG_PATH=/var/sausage-store/logs

Environment=SPRING_DATASOURCE_URL="jdbc:postgresql://${PSQL_HOST}:${PSQL_PORT}/${PSQL_DBNAME}?ssl=true"
Environment=SPRING_DATASOURCE_USERNAME="${PSQL_USER}"
Environment=SPRING_DATASOURCE_PASSWORD="${PSQL_PASSWORD}"
Environment=SPRING_DATA_MONGODB_URI="mongodb://${MONGO_USER}:${MONGO_PASSWORD}@${MONGO_HOST}:27018/${MONGO_DATABASE}?tls=true"

ExecStart=/usr/bin/java -jar /opt/sausage-store/bin/sausage-store.jar

Restart=always

[Install]
WantedBy=multi-user.target
